
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">
            Please Select your option below
        </p>
      <p>
        ngrx is a set of RxJS-powered state management libraries for Angular, inspired by Redux, a popular and predictable state management container for JavaScript apps. It was developed by Rob Wormald, an Angular Developer Advocate in 2013. Here are some of the goodies that ngrx brings to us: ngrx aims to bring reactive extensions to Angular.

      </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-g"[routerLink]="['/ngrx-payment']" role="button">Make payment</a>
        </p>
    </div>
</div>
